@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

html{
    overflow: hidden;
}

* {
    font-family: Poppins;
}

body {
    margin: 0px;
    padding: 0px;
}

header{
    display: flex;
    flex-direction: column;

    align-self: center;
    justify-self: center;

    justify-content: center;
    align-items: center;

    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.1);
    height: 80px;
}

header div {
    display: flex;
    justify-content: space-between;
    width: 96%;
}
header p {
    color: #959595;
    font-weight: 500;
}

#header-button:hover{
    color: #5B5B5B;
    cursor: pointer;
}

main {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index: -1;
}

#main-div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
} #about-div {
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
} #group {
    font-size: 30px;
    font-weight: 700;
} #message, #name {
    font-size: 20px;
    font-weight: 600;
}