@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

html{
    overflow: hidden;
}

* {
    font-family: Poppins;
}

body {
    height: 890px;
    margin: 0px;
    padding: 0px;
}

header{
    display: flex;
    flex-direction: column;

    align-self: center;
    justify-self: center;

    justify-content: center;
    align-items: center;

    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.1);
    height: 80px;
}

header div {
    display: flex;
    justify-content: space-between;
    width: 96%;
}
header p {
    color: #959595;
    font-weight: 500;
}

#header-button:hover{
    color: #5B5B5B;
    cursor: pointer;
}

main {
    position: relative;

    overflow-y: scroll;
    overflow-x: hidden;
    
    height: 890px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
} #scroll {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-self: center;
    width: 80%;
    height: 1620px;
    flex: 1;
} #div-footer{
    height: 0px;
} #hospital-holder{
    width: 90%;
} #hospital-group{
    width: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
} #hospital-div{
    
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    background: white;
    width: 680px;
    height: 211px;
} #hospital-div, #hospital-div *{
    cursor: pointer;
} #text{
    width: 90%;
}#title p {
    margin-bottom: -20px;
    font-weight: 600;
    font-size: 25px;
} #head-title p{
    margin-bottom: -5px;
    font-weight: 700;
    font-size: 32px;
}#distance {
    display: flex;
    justify-content: space-between;
}#distance p{
    font-weight: 600;
    font-size: 18px;
    color: #7E7E7E;
}

.hospital-group-1{
    margin-top: 150px;
}
@media only screen and (max-width: 1750px) {
    #hospital-group{
        height: 600px;
        flex-direction: column;
    }
    #hospital-div{
    }

    #scroll{
        height:3100px;
    }  #div-footer{
        height: 200px;
    }
}

@media only screen and (max-width: 750px) {
    #scroll{
        margin-top: -220px;
        transform: scale(0.85, 0.85);
    }
    
}

@media only screen and (max-width: 650px) {
    #scroll{
        margin-top: -430px;
        transform: scale(0.7, 0.7);
    }
}