@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

html{
    overflow: hidden;
}

* {
    font-family: Poppins;
}

#pop-up{
    background-color: transparent;
    background: url("../Images/Pop-up.svg");
    background-repeat: no-repeat;
    background-size: contain;

    display: none;
    position: absolute;
    height: 163.49px;
    width: 132.52px;
    top: 272px; 
    left: 144px;

    /* top: 369px; left: 203px; */
}

body {
    margin: 0px;
    padding: 0px;
}

header{
    display: flex;
    flex-direction: column;

    align-self: center;
    justify-self: center;

    justify-content: center;
    align-items: center;

    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.1);
    height: 80px;
}

header div {
    display: flex;
    justify-content: space-between;
    width: 96%;
}
header p {
    color: #959595;
    font-weight: 500;
} 

#header-button:hover{
    color: #5B5B5B;
    cursor: pointer;
}

main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}  #main-div{
    width: 1200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#left-div {
    margin-top: 50px;
    height: 800px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
} 

#nearest-div, #textarea-div{
    width: 524px;
    height: 378px;

    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
} #nearest-image{
    background-color: #F8F8F8;
    width: 483px;
    height: 250px;
}#nearest-title, #hospital-title{
    width: 90%;
} #nearest-title p{
    color: #ACACAC;
    font-size: 15px;
    margin-bottom: -3px;
}#hospital-title p{
    font-size: 22px; 
    color: #272020;
    font-weight: 600;
    margin-bottom: -3px;
}#textarea-txtar{
    width: 90%;
    height: 200px;

    font-weight: 600;

    border-style: none; 
    border-color: Transparent; 
    resize: none;
    outline: none;
    overflow: auto; 
} 

#address-div{
    width: 524px;
    height: 307px;

    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
} #hospital-address-title{
    width: 90%;
    
    font-weight: 500;
    color: #ACACAC;

    display: flex;
    justify-content: space-between;
} #address-block #title{
    margin-bottom: -20px;
    font-size: 17px;
    font-weight: 600;
    color: #ABABAB;
} #address-block #Info{
    font-size: 17px;
    font-weight: 600;
    color: #272020;
} #address-block{
    width: 90%;
}
#right-div{
    margin-top: 50px;

    height: 800px;

    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}#contact-div{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}#contact-box{
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.1);

    width: 524px;
    height: 132px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

@media only screen and (max-width: 1110px) {
    main{
        height: 890px;
        overflow-y: scroll;
        justify-content: flex-start;
    }
    #main-div{
        height: 920px;
        flex-direction: column;
        justify-content: flex-start;
    }
    #textarea-div{
        margin-top: 30px;
    }
    #right-div{
        height: 800px;
        justify-content: space-between;
    }
    #footer-div{
        height: 50px;
    }
}

@media only screen and (max-width: 600px) {
    #main-div{
        transform: scale(0.85, 0.85);
    }
}