@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

html{
    overflow: hidden;
}

* {
    font-family: Poppins;
}

#pop-up{
    background-color: transparent;
    background: url("./../Images/Pop-up.svg");
    background-repeat: no-repeat;
    background-size: contain;

    display: none;
    position: absolute;
    height: 163.49px;
    width: 132.52px;
    top: 272px;
    left: 144px;

    /* top: 369px; left: 203px; */
}

body {
    margin: 0px;
    padding: 0px;
}

header{
    display: flex;
    flex-direction: column;

    align-self: center;
    justify-self: center;

    justify-content: center;
    align-items: center;

    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.1);
    height: 80px;
}

header div {
    display: flex;
    justify-content: space-between;
    width: 96%;
}
header p {
    color: #959595;
    font-weight: 500;
}

#header-button:hover{
    color: #5B5B5B;
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index: -1;
}

#main-div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
} #main-map-div {
    position: relative;
}

#ph-map {
    width: 496.02px;
    height: 864.54px;
}

#box-div{
    display: flex;
    align-items: flex-start;
}

#middle-div{
    height: 800px;
    width: 580px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}#total-div {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 524px;
    height: 150px;
    background: white;

    border-radius: 10px;
    box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.1);
} #total-div #group {
    width: 90%;
    height: 90%;
} #total-div #group #title {
    color: #ACACAC;
    font-weight: 400;
} #total-div #group #value{
    margin-top: 10px;
    color: #272020;
    font-weight: 600;
    font-size: 30px;
}

#list-div{
    margin-bottom: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 524px;
    height: 269px;
    background: white;

    border-radius: 10px;
    box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.1);
} #list-div #group {
    width: 90%;
    height: 90%;
} #list-div #title-group{
    color: #ACACAC;
    font-weight: 400;
} #area-li{
    font-size: 17px;
    color: #ABABAB;
    font-weight: 400;
}#case-li{
    font-size: 19px;
    color: #272020;
    font-weight: 600;
}#span-li {
    margin-bottom: 10px;
}

#right-div{
    margin-left: -20px;
    height: 800px;
    width: 580px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}#help-div{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 524px;
    height: 300px;
    background: white;

    border-radius: 10px;
    box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.1);
} #help-div #title{
    color: #272020;
    font-weight: 600;
    font-size: 20px;
} #help-div #button-group{
    width: 90%;
    height: 200px;
    align-self: center;
    margin: auto;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}  #button-group  #button-break{
    justify-content: space-between;
    align-self: center;
    display: flex;
    width: 90%;
} #news-div{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 524px;
    height: 440px;
    background: white;

    border-radius: 10px;
    box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.1);
} #news-div #title-group {
    width: 90%;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 18px;
} #news-div #image-news-div{
    margin-top: -10px;
    width: 450px;
    height: 220px;
    border-radius: 10px;
    background-color: #F8F8F8;
} #news-div #news-title-group{
    width: 85%;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 20px;
} #news-div #publisher-title-group{
    width: 85%;
    height: 50px;
    margin-top: -30px;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 16px;
    color: #7E7E7E;
}

@media only screen and (max-width: 1675px) {
    main {
        height: 870px;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    #main-div {
        margin-top: 900px;
        display: flex;
        flex-direction: column;
    }
    #div-footer{
        height: 1000px;
    }
}

@media only screen and (max-width: 1160px) {
    #main-div {
        margin-top: 1655px;
    }
    #box-div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    } #right-div {
        margin-top: 50px;
        margin-right: -20px;
    }
    #div-footer{
        height: 100px;
    }
}

@media only screen and (max-width: 700px) {
    #main-div {
        margin-top: 1300px;
        transform: scale(0.86, 0.86);
    }
    #div-footer{
        height: 10px;
    }
}
