@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

html{
    overflow: hidden;
}

* {
    font-family: Poppins;
}

body {
    margin: 0px;
    padding: 0px;
}

header{
    display: flex;
    flex-direction: column;

    align-self: center;
    justify-self: center;

    justify-content: center;
    align-items: center;

    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.1);
    height: 80px;
}

header div {
    display: flex;
    justify-content: space-between;
    width: 96%;
}
header p {
    color: #959595;
    font-weight: 500;
}

#header-button:hover{
    color: #5B5B5B;
    cursor: pointer;
}

main{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 890px;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
} #news-group{
    margin-top: 50px;
    position: absolute;

    width: 70%;
    height: 1481px;

    background-color:white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
    align-items: center;

}#news-image{
    margin-top: 50px;
    background-color: #F8F8F8;
    border-radius: 10px;

    width: 94%;
    height: 40vw;
} #title{
    width: 90%;
    font-size: 30px;
    font-weight: 700;
} #publisher{
    color: #7E7E7E;
    margin-top: -50px;
    width: 90%;
    font-size: 22px;
    font-weight: 600;
} #message{
    width: 90%;
    font-size: 19px;
    font-weight: 600;
}

@media only screen and (max-width: 1000px) {
    
    #news-group{
        height: 1550px;;
    } #news-image{
        margin-top: 20px;
        height: 50vw;
    }
}


@media only screen and (max-width: 700px) {

    #news-group{
        width: 90%;
        height: 1150px;;
    } #news-image{
        margin-top: 20px;
        height: 50vw;
    }
    #title{
        font-size: 26px;
    } #publisher{
        font-size: 18px;
    } #message{
        font-size: 15px;
    }
}
